<% if current_user == nil %>
    <%= link_to 'ログイン', controller: :top,action: :login_form %>
<% else %>
    <h1><%= current_user.uid %>さんようこそ</h1>
    <%= link_to 'ログアウト', controller: :top,action: :logout %>
<% end %>
<h1>動画一覧</h1>

<%
=begin %>
    <% if @movie.movie.attached? %>
      <p><%= @movie.title %></p> <br>
      <p><%= @movie.introduction %></p>
      <a src="<%= rails_blob_path(@movie.movie) %>" type="movie/mp4" controls></a>
    <% end %>
<%
=end %>