<h1>Sign in</h1>

<!-- ログイン失敗のメッセージを出す -->
<%= flash[:error] %>

<%= form_for(:session, url: sessions_path) do |f|  %>
<!-- 個別ルーティングの場合 -->
<%#= form_for(:session, url: signin_path) do |f|  %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign in" %>
<% end %>