<h1>ユーザー登録</h1>

<%= form_for @user , url: {action: :create} do |f| %>
    <%= f.label :uid, 'ユーザID' %>
    <%= f.text_field :uid %>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, 'パスワード(確認)' %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit '登録' %>
<% end %>
<br><%= link_to 'ログインはこちら', controller: :top,action: :login %>