YouTube<br>
<<<<<<< HEAD
=======

ログイン中：<%= session[:login_uid]%> さん  　 <%= link_to "ログアウト", new_user_path %>
>>>>>>> Y

<% @videos.each do |e| %>

    <p>
        <%= e.title %><br>
        <%= e.introduction %><br>
        <%= link_to "再生", video_path(e) %><br>
    </p>
<% end %>

<%= link_to "動画投稿する", new_video_path %>