<% if current_user == nil %>
    <%= link_to 'ログイン', controller: :top,action: :login_form %>
<% else %>
    <h1><%= current_user.uid %>さんようこそ</h1>
    <%= link_to 'ログアウト', controller: :top,action: :logout %>
<% end %>
<h1>動画一覧</h1>

<% @videos.each do |e| %>

    <p>
        <%= e.title %><br>
        <%= e.introduction %>
        <%= link_to "再生", video_path(e) %>
        <%= e.message %>
        <% if @video.like?(current_user) %>
            <%= link_to video_likes_path(@video.id), method: :destroy do %>
                <span style="color:red;">❤︎</span>
        <% end %>
        <% else %>
            <%= link_to video_likes_path(@video.id), method: :create do %>
                <span>❤︎</span>
        <% end %>
    </p>
<% end %>