<div class="title">
YouTubo
</div>

<div class="login">
<% if current_user == nil %>
    <%= link_to 'ログイン', controller: :top,action: :login_form %>
<% else %>
    <%= current_user.uid %><br>
    <%= link_to 'ログアウト', controller: :top,action: :logout %>
<% end %>
</div>

<% if session[:login_uid] != nil %>
  <%= link_to "動画を投稿する", new_video_path %>
<% end %>

<% @videos.each do |e| %>
  <p>
    <div class="videoinfo">
      <%= e.title %><br>
      <%#= e.introduction %>
      <%= link_to "再生", video_path(e) %><br>
      <% if e.image.attached? %>
        <%= image_tag e.image %>
      <% end %><br>
      <% if current_user != nil %>
        <%= link_to '削除', video_path(e), data: { turbo_method: :delete } %>
      <% end %>
    </div>
  </p>
<% end %>



